<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
  <nav class = "navbar navbar-expand-lg navbar-dark" style="background-color:rgb(7, 0, 17)" >
    <div class="container">
      <a href="/" class="navbar-brand">Escape</a>
      <button class= "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
           <li class="nav-item">
            <a href="/html/main_page.html" class="nav-link">Main</a>
           </li>
           <li class="nav-item">
            <a href="/html/how_to_use.html" class="nav-link">FAQs</a>
           </li>
           <li class="nav-item">
            <a href="/html/model.html" class="nav-link">Model</a>
           </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Safe recommendations</a>
            <ul class="dropdown-menu dropdown-menu-dark"style="background-color:rgb(7, 0, 17)" >
              <li><a class="dropdown-item" href="/html/gas.html"> При утечке газа</a></li>
              <li><a class="dropdown-item" href="/html/fire.html"> При пожаре</a></li>
            </ul>
           </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="text-area">
        <ul>
            <li>Включить сигнал тревоги: активируйте ближайшую станцию ​​пожарной сигнализации, чтобы предупредить всех, кто находится в здании, о пожаре. Это крайне важно для обеспечения безопасности всех пассажиров.</li>    
            <li>Немедленно эвакуируйтесь: если вы обнаружите пожар или услышите пожарную сигнализацию, немедленно покиньте лабораторию. Не пытайтесь тушить пожар, если вы не обучены этому и не можете безопасно использовать огнетушитель. Ваша безопасность и безопасность других должны быть вашим главным приоритетом.</li>    
            <li>Закройте двери: выходя, закройте за собой все двери. Это поможет локализовать пожар и предотвратить его распространение на другие территории.</li>    
            <li>Вызов помощи: Как только вы благополучно окажетесь за пределами здания, позвоните в службу экстренной помощи (например, 911 в США) или по номеру службы экстренной помощи, указанному для вашего местоположения, чтобы сообщить о пожаре. Предоставьте им как можно больше информации, включая местонахождение пожара и любые потенциальные опасности или связанные с ним химические вещества.</li>    
            <li>Не пользуйтесь лифтами. Не пользуйтесь лифтами во время пожарной эвакуации, так как они могут выйти из строя или выйти из строя во время чрезвычайной ситуации.</li>    
            <li>Помогайте другим: если вы можете сделать это безопасно, помогите коллегам или посетителям, у которых могут возникнуть трудности с эвакуацией, но не ставьте при этом под угрозу свою безопасность.</li>    
            <li>Держитесь подальше от огня: не пытайтесь повторно войти в лабораторию или здание до тех пор, пока пожарная служба или сотрудники служб экстренной помощи не объявят их безопасными.</li>    
            <li>Следуйте инструкциям. Слушайте и выполняйте инструкции аварийно-спасательных служб и персонала лаборатории. Они дадут указания о том, когда можно безопасно вернуться в здание, а также любые другие необходимые инструкции.</li>    
            <li>Отправляйтесь к месту сбора: проследуйте к назначенному месту сбора на безопасном расстоянии от здания и оставайтесь там до тех пор, пока сотрудники служб экстренной помощи не дадут разрешение.</li>    
            <li>Учитывайте каждого: Сотрудники лаборатории должны учитывать всех лиц, находившихся в лаборатории во время пожара, и сообщать о пропавших без вести лицах службам экстренного реагирования.</li>

        </ul>
    </div>
    
</body>
</html>