{% extends "base.html" %}
{% block content %}
    <div class="text-area">
        <ul>
            <li>Покиньте помещение. Если вы почувствовали запах газа или подозреваете утечку, первым и наиболее важным шагом является немедленная эвакуация лаборатории. Убедитесь, что все находящиеся в лаборатории, включая вас самих, быстро и спокойно покинули это место. Не пользуйтесь лифтами, так как они могут вызвать взрыв.</li>
            <li>Не используйте электронные устройства. Не используйте никакие электронные устройства, включая мобильные телефоны, поскольку они могут генерировать искры, которые могут воспламенить газ.</li>
            <li>Не включайте и не выключайте какое-либо оборудование. Избегайте включения и выключения любых электрических выключателей, оборудования или выключателей освещения, поскольку это также может привести к образованию искр.</li>
            <li>Закройте двери и окна. Уходя, закройте все двери и окна, чтобы сдержать утечку газа и предотвратить ее дальнейшее распространение.</li>
            <li>Не входите повторно в эту зону. Ни при каких обстоятельствах не следует повторно входить в лабораторию до тех пор, пока обученный персонал не сочтет ее безопасной.</li>
            <li>Обратитесь за медицинской помощью: Если вы или кто-либо другой испытывает симптомы воздействия газа (например, головокружение, тошнота, затрудненное дыхание), немедленно обратитесь за медицинской помощью.</li>
            <li>При появлении у окружающих признаков отравления газом вынесите их на свежий воздух и положите так, чтобы голова находилась выше ног.</li>
        </ul>
    </div>

{% endblock content %}